.footer-wrapper {
  padding: 10px 35px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;

  p {
    margin: 0px;
    padding: 2px 0px;
    font-size: 0.9rem;
  }
}
