.footer-wrapper {
  padding: 10px 35px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;

  .address-wrapper {
    p {
      margin: 0px;
      padding: 2px 0px;
      font-size: 0.9rem;
      text-align: left;
    }
  }

  .contact-wrapper {
    p {
      margin: 0px;
      padding: 2px 0px;
      font-size: 0.9rem;
      text-align: right;
    }
  }
}
