@import url(./variables.scss);
@import url(./mixins.scss);

@import url(./components/nav/nav-bar.scss);
@import url(./components/nav/footer.scss);
@import url(./components/pages/home.scss);
@import url(./components/pages/about.scss);
@import url(./components/pages/cart.scss);
@import url(./components/pages/contact.scss);
@import url(./components/pages/products.scss);
@import url(./components/pages/single-product.scss);
@import url(./components/item-card.scss);

#root {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;

  .app-body {
    height: 100%;
    width: 100%;
  }
}
