.home-body {
  height: auto;
  min-height: calc(100vh - 191.5px);
  width: 100%;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url(https://source.unsplash.com/random?grocery-store);
  background-size: cover;
  background-color: grey;

  .home-intro-header {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 0px;
      margin-top: 35px;
      padding: 0px 10px;
      width: fit-content;
      font-size: 3rem;
      background-color: white;
      border-radius: 15px;
    }

    h1 {
      margin: 25px 0px;
      padding: 0px 10px;
      width: min-content;
      font-family: "Tilt Prism", cursive;
      font-size: 4.5rem;
      background-color: white;
      border-radius: 15px;
      text-align: center;
    }
  }

  .home-intro-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    font-size: 1rem;

    p {
      margin: 0px;
      padding: 30px;
      width: 750px;
    }
  }
}
